
@{
    ViewBag.Title = "OnlineUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Online Users</h2>

<div class="row">
    Number of users <strong id="counter"></strong>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    
    <script>
        $(function () {
            var counterHub = $.connection.counterHub;
            $.connection.hub.start().done(function () {
            });
            counterHub.client.UpdateCounter = function (count) {
                $("#counter").text(count);
            }
        });
    </script>

</div>
